<!doctype html>
<html>

<head>
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
        <style>
            .scroll {
                overflow-y: scroll; 
            }
            .container-fluid, .row{
                height:100%;
              }
            body, html {
                margin: 0;
                overflow: hidden;
                height:100%;
              }
            .menuitems {
                height: 60%
            }
        </style>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand">Wafflegoth POS</a>
                <div>
                    <button class="btn btn-danger" type="submit">Close Venue</button>
                    <span class="navbar-text">{{ currentMoneyMade }}</span>
                </div>
            </div>
        </nav>
            <div class="row">
                <!-- New Orders -->
                <div class="col">
                    <span>New Orders</span>
                    <div class="row row-cols-3 scroll menuitems">
                        <div v-for="menuItem in menuItems" class="col">
                            <div class="card" style="width: 10rem;">
                                <img v-bind:src="menuItem.image"  class="card-img-top img-fluid">
                                <div class="card-body">
                                    <h5 class="card-title">{{ menuItem.name }}</h5>
                                    <p class="card-text">{{ menuItem.cost }} gil</p>
                                    <div class="input-group">
                                        <label for="quantity">Quantity </label>
                                        <input type="number" class="form-control" placeholder="0" min="0" id="quantity" name="quantity" @change="modifyOrder($event, menuItem.name, menuItem.cost)">
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span>Current Order:</span>
                            <ul class="list-group list-group-flush">
                                <li v-for="orderItem in currentOrder" class="list-group-item">
                                    {{ orderItem.quantity }}x {{ orderItem.name }}
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <form>
                                <div class="mb-3">
                                  <label for="customerName" class="form-label">Customer Name</label>
                                  <input v-model="currentName" class="form-control" id="customerName">
                                </div>
                                <button type="button" class="btn btn-primary" @click="newOrder">Place Order</button>
                                <span>Current Total: {{ currentTotal }}</span>
                              </form>
                        </div>

                    </div>
                </div>
                <!-- Open Orders -->
                <div class="col scroll">
                    <span>Open Orders</span>
                    <div class="row">
                        <div v-for="openOrder in openOrders" class="col">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ openOrder.customer }}</h5>
                                    <p class="card-text">{{ openOrder.cost }}</p>
                                    <ul class="list-group list-group-flush">
                                        <li v-for="orderItem in JSON.parse(openOrder.items)" class="list-group-item">
                                            {{ orderItem.quantity }}x {{ orderItem.name }}
                                        </li>
                                    </ul>
                                    <a class="btn btn-primary" @click="closeOrder(openOrder.id)">Close Order</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
</body>

<script type="text/javascript">
    var vue_det = new Vue({
        el: '#app',
        data: {
            currentMoneyMade: '5,000 gil',
            menuItems: null,
            openOrders: null,
            currentOrder: null,
            currentTotal: 0,
            currentName: ''
        },
        methods: {
            async getItems() {
                try {
                    let response = await fetch('http://107.191.42.62:8000/items')
                    this.menuItems = await response.json()
                } catch (error) {
                    console.log(error)
                }
            },
            async getOrders() {
                try {
                    let response = await fetch('http://107.191.42.62:8000/openorders')
                        await response.json().then((order) => {
                            this.openOrders = order
                    })

                } catch (error) {
                    console.log(error)
                }
            },
            async newOrder() {
                try {
                    let response = await fetch('http://107.191.42.62:8000/placeorder',{
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({customer: this.currentName, cost: this.currentTotal, items: JSON.stringify(this.currentOrder), time: '', status: 'Open'})
                    })
                    const content = await response.json().then((test) => {
                        this.currentOrder = null
                        this.currentTotal = 0
                        this.currentName = ''
                        this.getOrders() 
                        location.reload()
                    })
                } catch (error) {
                    console.log(error)
                }
            },
            async closeOrder(id) {
                try {
                    let response = await fetch('http://107.191.42.62:8000/closeorder/'+id, {
                        method: 'POST'
                    })
                    this.getOrders()
                } catch (error) {
                    console.log(error)
                }
            },
            modifyOrder(event, name, cost) {
                //console.log(event)
                // Find if there's a matching name. Add if no, update quantity if yes, remove if 0.
                if (event.target.value === 0 && this.currentOrder === null) {
                    return
                } 
                if (this.currentOrder === null) {
                    this.currentOrder = []
                }
                var positiveChange = false // Why am I like this
                var newFlag = true
                this.currentOrder.forEach((item, index) => {
                    if (item.name === name) {
                        if (event.target.value > item.quantity) {
                            positiveChange = true
                        }
                        this.currentOrder.splice(index, 1)
                        //console.log(this.currentOrder[index])
                        //this.currentOrder[index] = {quantity: event.target.value, name: name}
                        //console.log(this.currentOrder[index])
                        newFlag = false
                    }
                })
                if (event.target.value > 0) {
                    this.currentOrder.push({quantity: event.target.value, name: name})
                } else {
                    this.currentTotal -= cost
                }
                if(newFlag === true || (positiveChange && event.target.value > 0)) {
                    this.currentTotal += cost
                } else if (!positiveChange && event.target.value > 0) {
                    this.currentTotal -= cost
                }
            }
        },
        created () {
            this.getItems(),
            this.getOrders(),
            this.timer = setInterval(this.getOrders, 30000)
        }
    });
</script>

</html>